:root {
    --primary-color: white;
    --secondary-color: black;
    --primary-different-shade: rgb(245, 245, 245);
    --box-shadow: inset 0 0 0 1px #dedddc, 0 0 16px 0 rgb(0 0 0 / 15%);
    --box-shadow-harder: inset 0 0 0 1px #dedddc, 0 0 16px 0 rgb(0 0 0 / 20%);
    --theme-toggle-box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, .1),
                               inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    --hover-options: rgb(245, 245, 245);
    --hover-add-more: rgb(219, 219, 219);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    transition: background 150ms ease-in-out, color 50ms ease-in-out;
}

.darkmode {
    --primary-color: rgb(19, 19, 19);
    --secondary-color: white;
    --primary-different-shade: rgb(40, 40, 40);
    --box-shadow-harder: inset 0 0 0 1px #131313, 0 0 16px 0 rgb(0 0 0 / 50%);;
    --theme-toggle-box-shadow: inset 0 0 8px 2px rgba(255, 255, 255, .1),
                               inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    --hover-options: rgb(50, 50, 50);
    --hover-add-more: rgb(92, 92, 92);
}

body {
    position: relative;
    background-color: var(--primary-different-shade);
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flex-horizontal {
    display: flex;
    align-items: center;
}

.main-header {
    background-color: var(--primary-color);
    justify-content: space-evenly;
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow-harder);
}

.logo-text {
    padding-left: .5rem;
    font-size: clamp(1.5rem, 2.5vw,2rem);
    font-weight: 100;
    color: var(--secondary-color);
}

.logo-text span {
    font-weight: 800;
}

svg {
    width: clamp(50px, 5vw, 60px);
    fill: var(--secondary-color);
}

.theme-toggle {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 4.75rem;
    height: 3rem;
    gap: .25rem;
    color: var(--secondary-color);
}

#theme + p {
    position: relative;
    width: 100%;
}

#theme + p::after {
    position: absolute;
    right: 3px;
    content: '☼';
    font-size: 1.1rem;
}

#theme:checked + p::after {
    content: '◐';
    top: -3px;
    right: 2px;
}

#theme {
    --theme-height: 1.25rem;
    appearance: none;
    position: relative;
    height: var(--theme-height);
    width: 3rem;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: var(--theme-toggle-box-shadow);
}

#theme:checked {
    transition: all 250ms ease-in-out;
}

#theme::before {
    content: '';
    position: absolute;
    height: var(--theme-height);
    width: var(--theme-height);
    scale: .9;
    right: 1px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
    background: linear-gradient(to bottom, white, white);
    transition: .5s;
}

#theme:checked::before {
    transform: translateX(-30px);
}

.search-wrapper {
    position: relative;
    width: 40%;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-wrapper input[type='search'] {
    appearance: none;
    outline: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: 1rem;
    height: clamp(1.75rem, 3vw, 2rem);
    width: 100%;
    background: transparent;
    border: none;
    color: var(--secondary-color);
    box-shadow: inset 0 0 0 1.5px var(--secondary-color);
}

.search-icon {
    position: absolute;
    right: -7px;
    height: 85%;
    fill: var(--secondary-color);
}

.save-buttons {
    gap: 1rem;
    font-size: 1.75rem;
}

#sign-up {
    background: none;
    outline: none;
    border: none;
    box-shadow: inset 0 0 0 3px var(--secondary-color);
    padding: .5rem 1rem;
    font-size: 1.20rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: var(--secondary-color);
}

#sign-up:hover {
    transition: all 200ms ease-in-out;
    box-shadow: none;
    color: var(--primary-color);
    background: var(--secondary-color);
}

.options-container {
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    padding: 2rem 10%;
    gap: 1rem;
}

.options-container input {
    position: absolute;
    appearance: none;
}

.options-container input[type='checkbox'] + label {
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.genre-container {
    position: relative;
    gap: 1rem;
    grid-column: 2 / 3;
    align-content: center;
    justify-content: center;
}

.other-genre-container {
    position: relative;
    gap: .25rem;
    padding: 0 1rem;
    border-left: 2px solid var(--secondary-color);
    flex-wrap: wrap;
}

#add-genre {
    position: relative;
    background: none;
    border: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

#add-genre:hover {
    background: var(--hover-add-more);
}

#add-genre svg{
    width: 1.25rem;
    margin-top: 5px;
    border-radius: 50%;
}

.genre-input-container {
    position: absolute;
    bottom: -35px;
    z-index: 1;
    width: 40%;
    border: 1px solid red;
}

#add-genre-text {
    padding: .5rem 1rem;
}

.options-container input:checked + label {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.options-container input:focus + label {
    box-shadow: inset 0 0 0 1px blue;
}

#add-book {
    grid-column: 3 / 4;
    align-self: center;
    justify-self: end;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    background: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

#books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    padding: 1rem 10%;
    gap: 1rem;
}

.book {
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    border-radius: 10px;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    color: var(--secondary-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.added {
    scale: .1;
    opacity: 0;
    animation: recentAdd 250ms;
}

@keyframes recentAdd {
    from {
        scale: .7;
        opacity: 0;
        border-radius: 25%;
    }
    to {
        scale: 1;
        opacity: 1;
        border-radius: 10px;
    }
}

.book-options {
    position: absolute;
    right: 7px;
    top: 7px;
}

.book-options button {
    background: transparent;
    border: none;
}

.book svg {
    width: 35px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    fill: var(--secondary-color);
}

.book-title {
    font-size: 1.6rem;
    word-wrap: break-word;
}

.title-and-author {
    display: grid;
    gap: .2rem;
}

.book-genre-list {
    list-style: none;
    column-gap: .5rem;
    row-gap: .2rem;
    flex-wrap: wrap;
    padding: .5rem 0;
    width: 65%;
    /* width: 100%; */
}

.book-genre-list li {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: .3rem .6rem;
    font-size: .8rem;
    border-radius: 10px;
}

.bottom-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.bottom-row .has-read-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(100px,30%, 150px);
    height: clamp(100px,30%, 150px);
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--secondary-color);
}

.bottom-row button:hover {
    background: var(--hover-options);
}

.bottom-row button svg {
    border-radius: 0;
    width: clamp(60px, 80%, 80px);
}

.bottom-row button svg:hover {
    background: none;
}

.book svg:hover {
    transition: 0s;
    background:var(--hover-options);
}

.delete-book {
    position: relative;
}

.confirmation-delete {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    top: -50px;
    left: -4px;
    width: 120px;
    padding: .25rem .5rem;
    background: var(--primary-color);
    border: 1px solid var(--secondary-color);
    z-index: 2;
    appearance: none;
    opacity: 0;
    pointer-events: none;
}

.confirmation-delete::after {
    content: '';
    position: absolute;
    display: block;
    background: var(--primary-color);
    width: 15px;
    height: 15px;
    bottom: -9px;
    right: 55px;
    margin: 0;
    transform: rotate(45deg);
    border-bottom: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}

.confirmation-delete button {
    margin: 0 3px;
    padding: .1rem .2rem;
    border-radius: 5px;
    cursor: pointer;
    color: var(--secondary-color);
}

.confirmation-delete button:nth-of-type(2) {
    color: white;
    background: rgb(196, 0, 0);
}

.confirmation-delete button:nth-of-type(2):hover {
    background: rgb(229, 0, 0);
}

.open-confirmation {
    appearance: initial;
    opacity: 1;
    pointer-events: all;
    transition: all 200ms ease-in-out;
}

/* MODAL */

.add-modal-container {
    transition: all 0ms !important;
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, .25);
    padding: 0 10%;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}

.add-content {
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr;
    background: var(--primary-color);
    height: 70vh;
    width: clamp(350px, 65vw , 600px);
    padding: 2rem 10%;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
}

.book-form {
    display: grid;
    grid-template-rows: 1fr 40px;
    align-items: center;
}

.input-container {
    display: grid;
    grid-template-rows: repeat(4, 50px);
    gap: 1rem;
    font-size: 1.2rem;
}

.input-container input {
    padding: .2rem;
    width: 100% !important;
    font-size: inherit;
    width: auto;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.input-container input:focus {
    border-bottom: 3px solid var(--secondary-color);
}

.input-container fieldset {
    display: flex;
    gap: 1rem;
    border: none;
    align-items: center;
}

fieldset input[type='radio'] {
    display: none;
    appearance: none;
}

fieldset input[type='radio'] + label {
    padding: .5rem 1rem;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
}

fieldset input[type='radio']:checked + label {
    background: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: inset 0 0 0 2px var(--secondary-color);
}

.genre-options {
    gap: .25rem;
    align-content: center;
}

.genre-collection {
    gap: .25rem;
    height: 4rem;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: var(--theme-toggle-box-shadow);
    /* box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, .1),
                inset 0 0 0 1px rgba(0, 0, 0, .1); */
}

.genre-collection .genre {
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 10px;
    font-size: .8rem;
    padding: .4rem .5rem;
    height: fit-content;
}

.genre button svg{
    display: block;
    height: 1rem;
    width: 1rem;
    fill: var(--primary-color);
}

.genre button {
    border: none;
    height: 1rem;
    width: 1rem;
    margin-left: 5px;
    background: var(--secondary-color);
    cursor: pointer;
}

.submit-info {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    width: fit-content;
    justify-self: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-modal svg {
    height: 40px;
}

.open-modal {
    transition: all 150ms ease-in-out;
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width: 750px) {
    .search-wrapper {
        display: none;
    }
}